.candidates-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .candidates-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
  }
  
  .candidate-card {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fce3e3; 
  }
  
  .candidate-card p {
    margin: 10px 0;
  }
  
  .candidate-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .candidate-card h2 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
  }
  
  .blue-bg {
    background-color: #e0f7fa; /* light blue */
  }
  
  .pink-bg {
    background-color: #fce4ec; /* light pink */
  }
  
  .tittle {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .tittle h2 {
    font-size: 24px;
    background: linear-gradient(to right, blue, red);
    -webkit-background-clip: text;
    color: transparent;
    margin: 5px 0;
  }
  